<%- include('layouts/head'); -%>

    <body>
        <%- include('layouts/header'); -%>
            </br>
            <nav class="top_menu">
                <ul>
                    <li>
                        <a href="/">Blog</a>
                    </li>
                    <li>
                        <a>Blog Posts</a>
                        <ul>
                        </ul>
                    </li>
                    <li>
                        <a href="/adminPanel">Admin Panel</a>
                    </li>
                </ul>
            </nav>
            </br>
            <main>
                <div class="row">
                    <div class="middle">
                        <form class="blogPost" name="blogPostForm" method="post" enctype="multipart/form-data"
                            action="">
                            <div>
                                <label for="title">Title : </label>
                                <input name="title" id="title" type="text" value="<%= post.title %>" />
                            </div>

                            <div>
                                <label for="editor1">Description : </label>
                                <textarea name="editor1" id="editor1" rows="10" cols="80">
                                        <%= post.description %>
                                    </textarea>


                            </div>
                            <div>
                                <label for="image">Upload Image:</label>
                                <input type="file" name="image" value="/<%= post.imageName %>">
                            </div>
                            <div>
                                <input type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </main>
    </body>
    <%- include('layouts/footer'); -%>